<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<form action="{{ url_for('change') }}" method="POST">
    <label for="new_x">Change relative X:</label><input id="new_x" name="new_x"/>
    <label for="new_y">Change relative Y: </label><input id="new_y" name="new_y"/>
    <input type="submit" value="GO"/>
</form>

<form action="{{ url_for('stop_it') }}" method="POST">
    <input type="submit" value="ABORT" style="font-size: xx-large; color: red">
</form>

<form action="{{ url_for('follow_stop') }}" method="POST">
    <input type="submit" value="Stop Following">
</form>
<form action="{{ url_for('follow') }}" method="POST">
    <input type="submit" value="Start Following">
</form>

<form action="{{ url_for('takeoff') }}" method="POST">
    <input type="submit" value="TAKE OFF">
</form>
<form action="{{ url_for('connect') }}" method="POST">
    <input type="submit" value="CONNECT" >
</form>
<form action="{{ url_for('disconnect') }}" method="POST">
    <input type="submit" value="DISCONNECT">
</form>

</body>
</html>